#gitlogo{
    width:90px;
    margin-bottom:50px;
}

#linkedinlogo{
    width:30px;
}

#smallgitlogo{
    width:30px;
}

.card {
    border: 1px solid black;
}

.card-body{
    border: 1px solid black;
}



.container{
    background-color: #e5f2e5;  
}

.card-img-top{
    background-color: #ffffff;
}

.card-body{
    background-color: #ffffff;
}

#menu{
    background-color: #e5f2e5; 
}

#about_content{
    background-color: #e5f2e5; 
}